/*This container includes our table and our canvas*/
.center-container
{
    /*This property sets the width of our container*/
    width: 608px;
    /*This property center our container*/
    margin: 0 auto;
    /*50 px down from top*/
    margin-top: 50px;
}

table
{
    /*this property collapse table borders into 1 border*/
    border-collapse: collapse;
    /*This hides outer borders on table*/
    border-style: hidden; 
}

td
{
    /*This property changes the cursor to the index finger when we hover over td elements*/
    cursor: pointer;
    /*This property set our table border style*/
    border: 4px solid black;
    /*This property removes default padding*/
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas
{
    /*This property sets the position of our canvas to the top left corner of our container*/
    position: absolute;
    /*This property places our canvas over the top of our table*/
    z-index: 10;
    /*This property makes our canvas invisible*/
    pointer-events: none;
}

.Navbar
{
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: black; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 11; /* This ensures other elements don't display over the navbar */
    left: 0; /*This ensures there is no space left of the navbar*/
}

/*links on navbar*/
.Navbar a
{
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* This is the font color for text on our navbar */
    padding: .75vw 1vw; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
    font-size: 1.5vw; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
}

.Navbar a:hover
{
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/*navbar home button*/
.Navbar a.active
{
    background-color: darkgray;
}